/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

/* 
    Created on : 1-sep-2014, 11:34:50
    Author     : sennesvi
*/

.map {
    width: 80px;
    height: 50px;
}
.land {
    fill: #F9F6F4;
    stroke: #9FAC61;
}
.landdetail {
    fill: #9FAC61;
    stroke: #F9F6F4;
}
.spotdsb {
    fill: #e81b0c;
}
.departement32 {
    fill: #9FAC61;
    stroke: #E81B0C;
    stroke-width: 0.9;
}
path.land:hover {
    fill: #CCCCCC;
}
path.land.departement32:hover {
    fill: #E81B0C;
    stroke-width: 2;
    cursor: pointer;
}
.spotdsb:hover {
    fill: #E81B0C;
    stroke: #000000;
    stroke-width: 2;
    cursor: pointer;
}
/* MapToolTips */

#region_name {
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid #dbdbd6;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 0.8em 0.4em 0.8em 0.4em;
    width: 280px;
    z-index: 1000;
    color: #333;
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#region_name:hover {
    cursor: pointer;
}
}